.body {
    background-color: #eadbc7;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border: 1px solid #000;
    h1 {
        border-bottom: 1px solid #000;;
        text-align: center;
        background: cornflowerblue;
        margin: -10px -10px 10px;
    }
}