table {
    margin: auto;
    width: 100%;
    font-size: 20px;

    border-collapse: collapse;
    border: 2px solid #000;
}
td , tr ,th {
    border: 2px solid #000;
    padding: 20px;
    color: blue;
}
th {
    background-color: aliceblue;
    font-weight: bold;

}
tr {
    text-align: center;
    background-color: #dfc4a4;
}
tr:nth-child(2n) {
    background-color: #ffe4c4;
}
